### Import Lib

In [ ]:
import numpy as np
import math

Function

In [ ]:
def pengeboran(max_distance, pengeboran_per_meter, price):
  distance_drill = (max_distance * pengeboran_per_meter)
  distance_price = (max_distance * price)
  res_drill = distance_drill + distance_price
  return res_drill

def cost_pompa(pump_price):
  res_pompa = 1*pump_price
  return res_pompa 

def cost_pipa_tampungan(d_to_rt, price): #pipe price disini pipa kelas rt
  res_pipa_tampungan = d_to_rt  * price # jarak ke RT x harga kelas pipa rt
  return res_pipa_tampungan

def cost_tampungan(total_utama, total_sekunder):
  total_tampungan = total_utama + total_sekunder #total semua dari pipa tampungan
  return total_tampungan

def utamaRW(price):
  tamp_rw = 1 * price # 1 x harga tampungan dari kelas semua total KK
  return tamp_rw

def sekunderRT(price):
  tamp_rt = 1 * price # 1 x harga tampungan pipa rt
  return tamp_rt

def total_cost(t_HPT, t_tampungan, t_drill, t_pump): ## nanti tambahin sama yang lain
  cost = t_HPT + t_tampungan + t_drill + t_pump
  return cost

def pricing_pipe(jum_kk):
  if (jum_kk >= 0) and (jum_kk <= 200):
    #untuk pipa 0.5 cm
    #print("pipa 0.5 cm")
    pipe_price = 2000
  
  elif (jum_kk > 200) and (jum_kk <= 600):
    #untuk pipa 1 cm
    #print(" Pipa 1 cm")
    pipe_price = 4000
  
  elif (jum_kk > 600) and (jum_kk <= 1000):
    #untuk pipa 1.5 cm
    #print("Pipa 1.5 cm")
    pipe_price = 6000
  
  return pipe_price

def pricing_tampung(jum_kk):
  if (jum_kk >= 0) and (jum_kk <= 200):
    #untuk tampungan 1x1 meter
    # print("tampungan 1x1 m")
    tamp_price = 500000
  
  elif (jum_kk > 200) and (jum_kk <= 600):
    #untuk tampungan 2x2 meter
    # print("tampungan 2x2 m") 
    tamp_price = 1000000
  
  elif (jum_kk > 600) and (jum_kk <= 1000):
    #untuk tampungan 3x3 meter
    # print("tampungan 3x3m")
    tamp_price = 1500000
  
  return tamp_price

### Meminta Input dari User

In [ ]:
### Accepting Several User Input ###

print("Welcome to Waterline Pricing")
print("----------------------------")
print("----Input Several Valeus----")
no_rw = input("Nomor RW: ")

jum_rt = int(input("Jumlah RT: "))

#----------- LOOPING RT ----------- #
kk_rt = [] ## variabbel jumlah orang per rt
range_rt = [] ## list masing masing jarak rt
i_rt = [] ## Index RT Ke berapa?

## looping keterangan per rt
for n_rt in range (jum_rt):
  rt_ke = int(input("RT KE: "))
  rt_p = int(input("Jumlah Kepala Keluarga di RT: "))
  r_rt = int(input("Jarak Lingkungan RT: "))

  i_rt.append(rt_ke)
  kk_rt.append(rt_p)
  range_rt.append(r_rt)


###################################

total_kk = sum(kk_rt) 
## !!! Hati hati siapa tau perhitungan bukan dari 
#jumlah seluruh KK, soalnya kan klasifikasi harganya dari sini
#siapa tau beda pipa

#kk = int(input("Kepala Keluarga: "))
print("Jumlah seluruh kepala keluarga: ", total_kk)

s_min = int(input("Kedalaman Sumur Minimal: "))
s_max = int(input("Kedalaman Sumur Maksimal: "))
water_s = input("Status Kekurangan Air (Y/N): ")

jangkauan = total_kk

class_pipe = [] ### List tipe tipe pipa dari jumlah kk rt
class_tampungan = [] ### list tipe tipe tampungan dari jumlah kk rt

print("Pricing list")

Welcome to Waterline Pricing
----------------------------
----Input Several Valeus----
Nomor RW: 1
Jumlah RT: 3
RT KE: 1
Jumlah Kepala Keluarga di RT: 400
Jarak Lingkungan RT: 200
RT KE: 2
Jumlah Kepala Keluarga di RT: 350
Jarak Lingkungan RT: 300
RT KE: 3
Jumlah Kepala Keluarga di RT: 250
Jarak Lingkungan RT: 400
Jumlah seluruh kepala keluarga:  1000
Kedalaman Sumur Minimal: 20
Kedalaman Sumur Maksimal: 30
Status Kekurangan Air (Y/N): Y
Pricing list

### Klasifikasi Pipa dan Tampungan

In [ ]:
#----- Classification Pipe -----#
for n in kk_rt:
  p_pipe = pricing_pipe(n)
  class_pipe.append(p_pipe)
#################################
  
#----- Classification Tampungan -----#  
sekunder_list = [] ## list sekunder dari RT

# Classification Tampungan and Sekunder
for t in kk_rt:
  p_tamp = pricing_tampung(t)
  s_tamp = sekunderRT(p_tamp) ## sekunder tampungan
  class_tampungan.append(p_tamp)
  sekunder_list.append(s_tamp)
#######################################

Perhitungan Tampungan

In [ ]:
### Tampungan UTAMA ###
### Tampungan kelas RW 
### Kalau mau otomatis harganya, berarti pake dari hasil klasifikasi tampungan kepala keluarga
t_rw = 1500000 
tamp_utama = utamaRW(t_rw) ## Total harga utama
t_2nd = sum(sekunder_list) ## Total Semua harga tampungan sekunder
tampungan = cost_tampungan(tamp_utama, t_2nd)

### Keterangan Butuh gak butuh

In [ ]:
## cuma pengen tau panjang array kelas pipa setelah diklasifikasi
print("Panjang Array Klasifikasi Pipa: ", len(class_pipe))
print("Panjang Array Klasifikasi Tampungan: ", len(class_tampungan))
print("Panjang Array Sekunder: ", len(sekunder_list))

### Perhitungan Tampungan
idx_s = 1 ## Buat tau index sekundernya
for nd in sekunder_list:
  print("Tampungan Sekunder Ke", idx_s, ":" , nd)
  idx_s = idx_s+1


print("Total Harga Tampungan Sekunder: ", t_2nd)
print("Harga Tampungan Utama: ", tamp_utama)
print("Harga Tampungan: ", tampungan)

Panjang Array Klasifikasi Pipa:  3
Panjang Array Klasifikasi Tampungan:  3
Panjang Array Sekunder:  3
Tampungan Sekunder Ke 1 : 1000000
Tampungan Sekunder Ke 2 : 1000000
Tampungan Sekunder Ke 3 : 1000000
Total Harga Tampungan Sekunder:  3000000
Harga Tampungan Utama:  1500000
Harga Tampungan:  4500000

### Harga Pipa Tampungan

In [ ]:
### Perhitungan Harga Pipa Tampungan ###
total_HPT = '' ## temporary nanti di masukkin setelah harga per tampungannya ada
HPT_list = []

idx_hpt = 1
for r_rt, c_pipe in zip(range_rt, class_pipe):
  hpt = cost_pipa_tampungan(r_rt, c_pipe)
  print("harga HPT ke ", idx_hpt, ":", hpt)
  HPT_list.append(hpt)
  idx_hpt += 1

total_HPT = sum(HPT_list)
print("Total semua HPT: ", total_HPT)

#######################################

harga HPT ke  1 : 800000
harga HPT ke  2 : 1200000
harga HPT ke  3 : 1600000
Total semua HPT:  3600000

### Harga Pengeboran

In [ ]:
#--- Pengeboran ---#
meter_bor = 100000
p_pipe_for_bor = pricing_pipe(total_kk) ## baru diambil dari klasifikasi pipe, bukan dari kelas pipa utama
total_drill = pengeboran(s_max, meter_bor, p_pipe_for_bor)
print("Total Pengeboran: ", total_drill)

#------------------#

Total Pengeboran:  3180000

### Harga Pompa

In [ ]:
#--- Pompa ---#
price_pump = 3000000 ### harga dari klasifikasi
pump = cost_pompa(price_pump)
total_pump = pump
print("Harga Pompa: ", total_pump)
###############

Harga Pompa:  3000000

### Total Semua Harga atau Cost

In [ ]:
#--- Total Cost ---#
total_biaya = total_cost(total_HPT, tampungan, total_drill, total_pump)
print("Total Cost Keseluruhan: ", total_biaya)
####################

Total Cost Keseluruhan:  14280000